/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --font-weight: 400;
  --font-weight-title: 700;

  --bg-color: #fff;
  --accent-color: #000;
  --button-text-color: #fff;
  --contour-fill: #000;
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

:root.theme-dark {
  --font-weight: 465;
  --font-weight-title: 785;

  --bg-color: #000;
  --accent-color: #00cc14;
  --button-text-color: #00cc14;
  --contour-fill: #00cc14;
  --bg-image: repeating-linear-gradient(
      to right,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #007f0c 0.01%, #004306);
}

@media (prefers-color-scheme: dark) {

  :root {
    --font-weight: 400;
    --font-weight-title: 700;

    --bg-color: #000;
    --accent-color: #00cc14;
    --button-text-color: #00cc14;
    --contour-fill: #00cc14;
    --bg-image: repeating-linear-gradient(
        to right,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to bottom, #007f0c 0.01%, #004306);
  }
}
